body{
    background: orange;
}

.flexbox-container{
    display: flex;
}
.flexbox-item{
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}
.flexbox-left{
    min-height: 100px;
}
.flexbox-right{
    min-height: 200px;
}