body{
    background: orange;
}

.flexbox-container{
    display: flex;
}
.flexbox-item{
    position: relative;
    top: 100;
    width: 100vw;
    height: 43vh;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
    
}
.flexbox-left{
    min-height: 100px;
}
.flexbox-right{
    min-height: 100px;
}